.container {
    border: 5px dashed orange;
    width: 400px;
    height: 400px;

    display: grid;
    /* grid-template-columns: 5fr 3fr 2fr 5fr;
    grid-template-rows: repeat(4, 1fr); */
    grid-template-areas:
        "hd hd hd hd hd"
        "hd hd hd hd hd"
        "ma ma ma sb sb"
        "ft ft ft ft ft"
}

.item {
    background-color: paleturquoise;
    border: 3px solid blue;
    font-size: 24px;
}

.header {
    grid-area: hd;
}

.main {
    grid-area: ma;
}

.sidebar {
    grid-area: sb;
}

.footer {
    grid-area: ft;
}