<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block layout:fragment="script">

  <script th:inline="javascript">

        function deletePost(postId) {
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            var url = "/post/"+postId+"/delete";
            var paramData = {
                postId : postId,
            };

            var param = JSON.stringify(paramData);

            if (confirm("정말 삭제하시겠습니까??") == true){    //확인

                $.ajax({
                    url      : url,
                    type     : "POST",
                    contentType : "application/json",
                    data     : param,
                    beforeSend : function(xhr){
                        /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
                        xhr.setRequestHeader(header, token);
                    },
                    dataType : "json",
                    cache   : false,
                    success  : function(result, status){
                        alert("게시글이 삭제 되었습니다.");
                        location.href='/';
                    },
                    error : function(jqXHR, status, error){
                        if(jqXHR.status == '401'){
                            alert('로그인 후 이용해주세요');
                            location.href='/members/login';
                        } else{
                            alert(jqXHR.responseText);
                        }
                    }
                });
            }else{   //취소
                return false;
            }
        }
        function deleteComment(commentId) {
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");


            var url = "/comment/delete/" + commentId;
            var paramData = {
                commentId : commentId,
            };

            var param = JSON.stringify(paramData);

            if (confirm("정말 삭제하시겠습니까??") == true){    //확인

                $.ajax({
                    url      : url,
                    type     : "POST",
                    contentType : "application/json",
                    data     : param,
                    beforeSend : function(xhr){
                        /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
                        xhr.setRequestHeader(header, token);
                    },
                    dataType : "json",
                    cache   : false,
                    success  : function(result, status){
                        alert("댓글이 삭제 되었습니다.");
                        location.reload(true);

                    },
                    error : function(jqXHR, status, error){
                        if(jqXHR.status == '401'){
                            alert('로그인 후 이용해주세요');
                            location.href='/members/login';
                        } else{
                            alert(jqXHR.responseText);
                        }
                    }
                });
            }else{   //취소
                return false;
            }
        }
  </script>
</th:block>
<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        .content {
            width: 800px;
            margin: auto;
            margin-top: 30px;
            padding: 20px;
        }

        .table {
            margin-top: 30px;
        }
    </style>
</th:block>
<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body>
<div layout:fragment="content">

        <div class="postTitleInfo">
        <span th:text="${postReadDto.title}"></span>
        <span th:if="${postReadDto.genreId}==1" th:text="팝"></span>
        <span th:if="${postReadDto.genreId}==2" th:text="케이팝"></span>
        <span th:if="${postReadDto.genreId}==3" th:text="댄스"></span>
        <span th:if="${postReadDto.genreId}==4" th:text="재즈"></span>
        <span th:if="${postReadDto.genreId}==5" th:text="발라드"></span>
        <span th:if="${postReadDto.genreId}==6" th:text="클래식"></span>
        <span th:if="${postReadDto.genreId}==7" th:text="기타"></span>
        <span th:text="${postReadDto.writer}"></span>
        <span th:text="${#temporals.format(postReadDto.createdTime, 'yyyy-MM-dd')}"></span>
        </div>

            <div
                    class="post-content" th:text="${postReadDto.content}"></div>
            <div class="post-bottom"><div class="post-link"><a th:text="${postReadDto.link}" th:href="@{${postReadDto.link}}"></a></div>
                <button sec:authorize="isAuthenticated()" th:if="${myPost == 1}">
                    <a th:href="'/post/'+${postReadDto.postId}+'/update'">수정</a>
                </button>
                <button id="postId" th:value="${postReadDto.postId}" th:if="${myPost == 1}" onclick="deletePost(this.value)">삭제</button>
            </div>



    <div class="commentWrapper" sec:authorize="isAuthenticated()" >
        <form role="form" method="post" th:object="${commentDto}" class="makeComment">
            <input class="form-control" placeholder="댓글을 입력해주세요" aria-label="With textarea" th:field="*{content}">
            <p th:if="${#fields.hasErrors('content')}" th:errors="*{content}" class="fieldError">Incorrect data</p>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
            <button style="width: 130px" class="btn btn-primary" th:formaction="@{'/comment/new/' + ${postReadDto.postId}}" type="submit">댓글 등록</button>
        </form>

        <table class="table">
            <thead>
            <tr>
                <td>닉네임</td>
                <td>댓글</td>
                <td>등록 날짜</td>
            </tr>
            </thead>
            <tbody>
                <tr th:each="comment, status: ${postReadDto.commentReadDtoList}">
                    <td th:text="${comment.writer}"></td>
                    <td id="comment-content" th:text="${comment.content}"></td>
                    <td id="comment-date" th:text="${#temporals.format(comment.createdTime, 'yyyy-MM-dd')}"></td>
                    <td><button class="delete-btn" sec:authorize="isAuthenticated()" th:value ="${comment.comment_id}" th:if="${userId == comment.email}" onclick="deleteComment(this.value)">댓글 삭제</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</body>