<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block layout:fragment="script">
  <script th:inline="javascript">

  </script>
</th:block>

<div th:fragment="header">
  <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">SongForYou🎶</a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item" style="display:flex; flex-direction: row;" sec:authorize="isAuthenticated()" >
          <span class="nav-link">"</span>
          <span style="color:white;" class="nav-link"  sec:authentication="name" ></span>
          <span class="nav-link">" 계정으로 로그인되었습니다.</span>
        </li>
        <li class="nav-item" sec:authorize="isAnonymous()">
          <a class="nav-link" href="/members/login">로그인</a>
        </li>
        <li class="nav-item" sec:authorize="isAnonymous()">
          <a class="nav-link" href="/members/new">회원가입</a>
        </li>
        <li class="nav-item" sec:authorize="isAuthenticated()">
          <a class="nav-link" href="/members/logout">로그아웃하기</a>
        </li>
      </ul>
    </div>
  </nav>
</div>

</html>